.chat {
  grid-area: chat;
  background-color: var(--chat-color);
}

.chat-container {
  height: 100%;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 7.5vh auto 7.5vh;
  grid-template-areas:
    "header header header header header header"
    ". content content content content ."
    "footer footer footer footer footer footer";
}

