.chat {
  grid-area: chat;
  background-color: var(--chat-color);
}

.chat-container {
  height: 100%;
  display: grid;
  flex: 1;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 7vh auto 8vh;
  grid-template-areas:
    "header header header header header header"
    ". content content content content ."
    "footer footer footer footer footer footer";
}

.empty-chat-container {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

