.chat-content {
  grid-area: content;
  background-color: #a7a2a9;
  padding: 0.5vh 1rem;
  height: auto;
  max-height: 83vh;
  overflow-y: auto;
}

.chat-data {
  display: flex;
  flex-direction: column;
}
